.home-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-image: url("/assets/image/wallpaper.jpg");
  background-size: cover;

  .right-section {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
}
